:root {
  /* Primary */
  --primaryLight: #42a5f5;
  --primaryMain: #1976d2;
  --primaryDark: #1565c0;

  /* Secondary */
  --secondaryLight: #ba68c8;
  --secondaryMain: #9c27b0;
  --secondaryDark: #7b1fa2;

  /* Error */
  --errorLight: #ef5350;
  --errorMain: #d32f2f;
  --errorDark: #c62828;

  /* Warning */
  --warningLight: #ff9800;
  --warningMain: #ed6c02;
  --warningDark: #e65100;

  /* Info */
  --infoLight: #03a9f4;
  --infoMain: #0288d1;
  --infoDark: #01579b;

  /* Success */
  --successLight: #4caf50;
  --successMain: #2e7d32;
  --successDark: #1b5e20;

  /* Compass */
  --compassBack: #1976d2;
  --compassTick: #e0e0e0;
  --compassDial: #1565c0;

  /* General */
  --background: #ffffff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: black;
  background-color: white;
}

.spacer {
  width: 100%;
  height: 60px;
}

.map {
  height: 670px;
}

.map .leaflet-container {
  height: 100%;
}

.NumberDisplay {
  color: white;
  background-color: var(--primaryLight);
  border-radius: 5px;
  padding: 5px;
  width: 15%;
  min-width: 130px;
}

.TrendLineDisplay {
  display: flex;
  height: 120px;
}

.MessageListBox {
  height: "400px";
  width: "100%";
}

.CompassDisplay {
  color: var(--compassTick);
}

.CompassDisplay-tick {
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: var(--compassTick);
  margin: auto;
}

.GaugeDisplay {
  width: 250px;
}

.GaugeDisplay-body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: var(--compassTick);
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.GaugeDisplay-fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: var(--primaryMain);
  transform-origin: center top;
  transition: transform 0.2s ease-out;
}

.GaugeDisplay-cover {
  width: 75%;
  height: 150%;
  background: var(--background);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.GaugeDisplay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.GaugeDisplay-minmax {
  width: 30px;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70%;
}

.GaugeDisplay-min {
  position: absolute;
  left: 0%;
}

.GaugeDisplay-max {
  position: absolute;
  left: 87%;
}
