:root {
  /* Primary */
  --primaryLight: #42a5f5;
  --primaryMain: #1976d2;
  --primaryDark: #1565c0;

  /* Secondary */
  --secondaryLight: #ba68c8;
  --secondaryMain: #9c27b0;
  --secondaryDark: #7b1fa2;

  /* Error */
  --errorLight: #ef5350;
  --errorMain: #d32f2f;
  --errorDark: #c62828;

  /* Warning */
  --warningLight: #ff9800;
  --warningMain: #ed6c02;
  --warningDark: #e65100;

  /* Info */
  --infoLight: #03a9f4;
  --infoMain: #0288d1;
  --infoDark: #01579b;

  /* Success */
  --successLight: #4caf50;
  --successMain: #2e7d32;
  --successDark: #1b5e20;

  /* Compass */
  --compassBack: #1976d2;
  --compassTick: #e0e0e0;
  --compassDial: #1565c0;

  /* General */
  --background: #ffffff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: black;
  background-color: white;
}

.spacer {
  width: 100%;
  height: 3em;
}

.map {
  height: 43em;
}

.map .leaflet-container {
  height: 100%;
}

.NumberDisplay {
  width: 15%;
  min-width: 8.5em;
}

.TrendLineDisplay {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 58em;
  height: 7.5em;
}

.MessageListBox {
  height: 20em;
  width: 100%;
}

.CompassDisplay {
  color: var(--compassTick);
}

.CompassDisplay-body {
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: var(--compassBack);
  outline-style: solid;
  outline-color: black;
  outline-width: 0.2em;
}

.CompassDisplay-center {
  background-color: var(--compassDial);
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CompassDisplay-tick {
  position: absolute;
  width: 0.25em;
  height: 1em;
  background-color: var(--compassTick);
  transform-origin: center center;
  top: -0.25em;
  left: 0.12em;
}

.CompassDisplay-dial {
  position: absolute;
  width: 0.5em;
  height: 3.75em;
  background-color: var(--compassDial);
  transform-origin: center bottom;
}

.CompassDisplay-dial-arrow {
  position: relative;
  width: 0em;
  height: 0em;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid var(--compassDial);
  transform: translate(-0.25em, -1em);
}

.CompassDisplay-text {
  position: absolute;
  text-align: center;
  width: 10rem;
  margin: 0;
}

.GaugeDisplay {
  width: 300px;
}

.GaugeDisplay-body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: var(--compassTick);
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.GaugeDisplay-fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: var(--primaryMain);
  transform-origin: center top;
  transition: transform 0.2s ease-out;
}

.GaugeDisplay-cover {
  width: 75%;
  height: 150%;
  background: var(--background);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.GaugeDisplay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.GaugeDisplay-minmax {
  width: 30px;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 76%;
}

.GaugeDisplay-min {
  position: absolute;
  left: 1.5%;
}

.GaugeDisplay-max {
  position: absolute;
  left: 88.5%;
}

.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 0.5em;
}

.dashboard-container {
  overflow-x: hidden;
}
